@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
}

p {
    color: white;
}

body {
    background-color: black;
    line-height: 1.8;
    overflow-x: hidden;
}

.inicio {
    background-position: center center;
    background-size: cover;
}

.title {
    color: white;
    text-align: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
    color: white;
    margin: 2rem;
    overflow: hidden;
}

.header-content h1 {
    text-align: center;
    margin: 2rem;
}

.navbar {
    background-color: #7c4ec8;
}

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    height: 0;
    visibility: hidden;
}

.link-bar {
    font-weight: 400;
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
}

.show {
    visibility: visible;
    height: auto;
}

.hero-container {
    width: 100%;
    max-width: 850px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px #ffffff, 0 15px 50px;
    position: relative;
}

.slider {
    display: flex;
    height: 400px;
    width: 300%;
    margin-left: -100%;
}

.slider-section {
    width: 100%;
}

.slider-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    color: black;
    cursor: pointer;
}

.slider-btn:hover {
    background-color: #7c4ec8;
}

.slider-btn-r {
    right: 10px;
}
.slider-btn-l {
    left: 10px;
}

.experience {
    color: white;
}

.experience h1 {
    font-weight: bold;
    text-align: center;
}

.experience p {
    text-align: center;
}

.experience-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    gap: 1rem;
    overflow: hidden;
}

.experience-container img {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.about-me {
    margin-top: 2rem;
}

.about-me img {
    width: 100%;
    height: 100%;
}

.gustos li {
    margin: 1rem 0 0 1rem;
}

.gustos ul {
    margin: 1rem 0 0 1rem;
}

.skills {
    margin: 5rem 2rem 2rem 2rem;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.skills-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.progress-bar {
    width: 350px;
    margin: 1rem 1rem 1rem 1rem;
    height: 20px;
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 10px;
}

.progress {
    width: var(--w);
    height: 100%;
    background-color: rgba(225, 225, 225, 1);
    border-radius: 10px;
    animation: aument 5s ease;
    text-align: center;
    color: purple;
    font-weight: 400;
}

input:not([type="submit"]),
textarea {
    padding: 1rem;
    display: block;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.buttom {
    background-color: purple;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
    display: inline-block;
    border: none;
    border-radius: 2rem;
}

.form {
    width: 100%;
    /* overflow: hidden; */
}

.buttom::hover {
    background-color: darken(purple, 5);
    cursor: pointer;
}

legend {
    color: white;
}

.social-media {
    display: flex;
    margin: 0 2rem 0 2rem;
    justify-content: space-between;
    align-items: center;
}

.formulario {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formu {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.warning {
    
    font-weight: bold;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border: 1rem;
}

.green {
    background-color: green;
}

.red{
    background-color: red;
}

@keyframes aument {
    0% {
        width: 0%;
    }

    100% {
        width: var(--w);
    }
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }
    35% {
        margin-left: 0%;
    }

    40% {
        margin-left: -100%;
    }
    75% {
        margin-left: -100%;
    }

    80% {
        margin-left: -200%;
    }
    100% {
        margin-left: -200%;
    }
}

@media (min-width: 400px) {
    .navbar {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        transition: visibility 0.3s ease-in-out, opacity 0.5s linear, height 0.6s linear;
        border-radius: 2rem;
    }

    .mobile-image {
        width: 3rem;
        margin-bottom: 0;
        padding: 0 0 0 0;
    }

    .mobile-menu {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .navbar {
        visibility: visible;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        height: auto;
    }
    .inicio {
        min-width: 70rem;
    }

    .mobile-image {
        visibility: hidden;
        height: 0;
    }

    .header-content {
        min-width: 70rem;
        width: auto;
        height: auto;
    }
    .barra {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
        height: auto;
    }

    .experience {
        /* margin-top: 6rem; */
        margin: 0 auto;
        max-width: 120rem;
        width: 95%;
    }

    .experience-container {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .exp {
        border: 1px solid white;
        background: rgb(2, 0, 36);
        background: linear-gradient(
            90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(121, 9, 109, 1) 28%,
            rgba(87, 32, 216, 1) 81%,
            rgba(0, 212, 255, 1) 100%
        );
    }

    .exp a {
        display: block;
        width: 100%;
    }

    .about-me img {
        width: 40%;
        height: 40%;
        align-items: center;
    }

    .about-me-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 2rem;
    }

    .about-me p {
        margin: 0 1rem 0 1rem;
    }

    .skills {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .skills-container {
        display: flex;
        align-items: center;
    }

    .gustos li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
}
