@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");
s * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.inicio {
    background-position: center center;
    background-size: cover;
}

.title {
    color: white;
    text-align: center;
}

.header {
    padding: 1rem 0 1rem 0;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
    color: white;
    margin-top: 2px;
}

.header-content h1 {
    text-align: center;
    margin-top: 2px;
}

.navbar {
    background-color: #7c4ec8;
}

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    height: 0;
    visibility: hidden;
}

.link-bar {
    font-weight: 400;
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
}

.show {
    visibility: visible;
    height: auto;
}

.hero-container {
    width: 100%;
    height: auto;
    margin: 1rem auto 0;
    overflow: hidden;
}

.hero-container ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 9s infinite alternate ease-in-out;
}

.hero-container li {
    list-style: none;
    width: 100%;
}

.hero-container img {
    width: 100%;
}

.justify {
    width: auto;
    height: auto;
}

.experience {
    color: white;
}

.experience h1 {
    font-weight: bold;
    text-align: center;
}

.experience p {
    text-align: center;
}

.experience-container {
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    width: 95%;
    max-width: 120rem;
    background-color: #7c4ec8;
    border-radius: 2rem;
}

.experience-container img {
    display: block;
    width: 100%;
    height: 100%;
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }
    35% {
        margin-left: 0%;
    }

    40% {
        margin-left: -100%;
    }
    75% {
        margin-left: -100%;
    }

    80% {
        margin-left: -200%;
    }
    100% {
        margin-left: -200%;
    }
}

@media (min-width: 400px) {
    .navbar {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        transition: visibility 0.3s ease-in-out, opacity 0.5s linear, height 0.6s linear;
        border-radius: 2rem;
    }

    .mobile-image {
        width: 3rem;
        margin-bottom: 0;
        padding: 0 0 0 0;
    }

    .mobile-menu {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .navbar {
        visibility: visible;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        height: 0;
    }
    .inicio {
        min-width: 70rem;
    }

    .mobile-image {
        visibility: hidden;
    }

    .header-content {
        min-width: 70rem;
        width: auto;
        height: auto;
    }
    .barra {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
        height: auto;
    }

    .experience-container {
        margin-left: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

}

@media (min-width: 1024px) {
}
